<mat-sidenav-container fullscreen>
  <!--! MODAL MENU SIDEBAR -->
  <mat-sidenav
    #sidenav
    mode="push"
    position="end"
    [ngStyle]="{ width: '250px' }"
  >
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sideBarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!--! NAVBAR -->
  <mat-toolbar class="m-1">
    <span class="pl-4">Mateo-Llerena</span>
    <span class="spacer"></span>
    <!-- Botón del menú (visible solo en pantallas pequeñas y medianas) -->
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      class="sm:block md:block lg:hidden xl:hidden"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Botones de navegación (visibles solo en pantallas grandes) -->
    <div class="pr-6 hidden lg:flex xl:flex">
      <button class="px-4" mat-button>Home</button>
      <button class="px-4" mat-button>About</button>
      <button class="px-4" mat-button>Skills</button>
      <button class="px-4" mat-button>Contact</button>
    </div>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
    <shared-footer></shared-footer>
  </div>
</mat-sidenav-container>
