<div class="text-center">
  <app-t1 [titulo]="'Proyectos'"></app-t1>
  <hr>

  <div class="list-flex">
    <image [image]="'https://th.bing.com/th/id/OIP.5JbXd0__eA4e8ApsH42xwgHaEK?rs=1&pid=ImgDetMain'"></image>
    <image [image]="'https://th.bing.com/th/id/OIP.5JbXd0__eA4e8ApsH42xwgHaEK?rs=1&pid=ImgDetMain'"></image>
    <image [image]="'https://th.bing.com/th/id/OIP.5JbXd0__eA4e8ApsH42xwgHaEK?rs=1&pid=ImgDetMain'"></image>
    <image [image]="'https://th.bing.com/th/id/OIP.5JbXd0__eA4e8ApsH42xwgHaEK?rs=1&pid=ImgDetMain'"></image>
    <image [image]="'https://th.bing.com/th/id/OIP.5JbXd0__eA4e8ApsH42xwgHaEK?rs=1&pid=ImgDetMain'"></image>
  </div>

</div>
