<div class="text-center">
  <app-t1 [titulo]="'Mis Skills'"></app-t1>
  <hr>

  <div class="list-flex">
    <icon [url]="'https://images.vexels.com/media/users/3/166383/isolated/preview/6024bc5746d7436c727825dc4fc23c22-html-programming-language-icon-by-vexels.png'"></icon>
    <icon [url]="'https://images.vexels.com/media/users/3/166383/isolated/preview/6024bc5746d7436c727825dc4fc23c22-html-programming-language-icon-by-vexels.png'"></icon>
    <icon [url]="'https://images.vexels.com/media/users/3/166383/isolated/preview/6024bc5746d7436c727825dc4fc23c22-html-programming-language-icon-by-vexels.png'"></icon>
  </div>

</div>
